header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
    height: 8rem;
}

.logo {
    flex: 1;  /* Asume 1 parte del espacio disponible */
    font-size: 1.5rem;
    font-weight: bold;
    background-image: url(https://akamai.sscdn.co/uploadfile/letras/fotos/2/a/5/1/2a51d48b89abc929004e1f320f08337c.jpg);
}

.date {
    display: flex;
    flex: 2;  /* Asume 2 partes del espacio, haciendo que esta sección sea más ancha */
    font-size: 1rem;
    text-align: center;
    background-color: saddlebrown;
    align-items: center;
    justify-content: center;
}

.locations {
    display: flex;
    flex: 1;  /* Asume 1 parte del espacio disponible */
    font-size: 1rem;
    text-align: center;
    background-color: wheat;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #000;
    border-top: none;
}

.product {
    text-align: center;
    flex: 1; /* Distribuye el espacio de manera uniforme */
    display: flex;
    flex-direction: column; /* Orienta los contenidos del producto verticalmente */
    justify-content: center; /* Centra el contenido verticalmente dentro de cada producto */
    border-left: 2px solid #000;
    height: 25rem;
}

.product:first-child {
    border-left: none; /* Elimina el borde izquierdo del primer producto para evitar duplicidad */
}

.product img {
    width: 80%;
    height: auto;
    margin: auto; /* Centra la imagen dentro de su contenedor */
}

@media(max-width: 1024px) {
    body{
        background-color: aqua;
    }

    .product{
        height: 20rem;
    }
}

@media(max-width: 450px) {
    body{
        background-color: aquamarine;
    }

    .main {
        display: block; /* Cambia a layout de bloque para apilamiento vertical */
    }

    .product{
        height: 25%;
        border-left: none;
        border-bottom: 2px solid #000;;
    }

    .product:last-child {
        border-bottom: none; /* Elimina el borde izquierdo del primer producto para evitar duplicidad */
    }

}
