body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
    height: 8rem;
}

.logo {
    flex: 1;  /* Asume 1 parte del espacio disponible */
    font-size: 1.5rem;
    font-weight: bold;
    background-image: url(https://img.freepik.com/vector-gratis/icono-redes-sociales-vector-instagram-7-junio-2021-bangkok-tailandia_53876-136728.jpg?size=338&ext=jpg&ga=GA1.1.1788614524.1717200000&semt=ais_user);
    background-size: cover; /* Asegura que la imagen cubra completamente el área del elemento sin distorsionarse */
    background-position: center; /* Centra la imagen en el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.date {
    display: flex;
    flex: 2;  /* Asume 2 partes del espacio, haciendo que esta sección sea más ancha */
    font-size: 1rem;
    text-align: center;
    background-color: #cdcdcd;
    align-items: center;
    justify-content: center;
}

.locations {
    display: flex;
    flex: 1;  /* Asume 1 parte del espacio disponible */
    font-size: 1rem;
    text-align: center;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.product {
    flex: 1 1 100%; /* Por defecto, cada producto ocupa el 100% del ancho: 1 producto por fila */
    margin-bottom: 20px; /* Espacio entre productos */
    text-align: center;
    box-sizing: border-box;
    padding: 10px; /* Espacio interno para cada producto */
    border: 1px solid #000;
}

.product img {
    width: 80%;
    height: auto;
    margin: auto;
}

/* Media queries */
@media (min-width: 600px) {
    .product {
        flex: 1 1 48%; /* Aproximadamente el 50% del ancho, menos un poco para el margen */
        margin: 5px;
    }
}

/* Para pantallas de computadora: 3 productos por fila */
@media (min-width: 1024px) {
    .product {
        flex: 1 1 31%; /* Aproximadamente el 33% del ancho, menos un poco para el margen */
        margin: 5px;
    }
}